<div class="h-screen fixed top-0 left-0 bg-gray-900 text-white shadow-lg transition-all duration-300 lg:w-60 md:w-50 sm:w-30 w-16 overflow-y-scroll">
  <ul class="mt-12 space-y-2">
    <li *ngFor="let item of menuItems; let i = index" class="relative group">
      <a class="flex items-center px-4 py-2 hover:bg-gray-700 cursor-pointer"
         (click)="item.childrens ? toggleSubMenu(i) : null"
         [routerLink]="item.path">
          <mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon>
          <span class="ml-3 transition-opacity duration-300"
              [ngClass]="isMenuExpanded ? 'opacity-100' : 'opacity-0 hidden'">
          {{ item.label }}
        </span>
      </a>

      <!-- Submenu -->
      <ul *ngIf="item.childrens" [ngClass]="{'hidden': !item.isOpen}" class="pl-6">
        <li *ngFor="let child of item.childrens">
          <a class="flex items-center lg:px-5 py-2 text-gray-300 hover:bg-gray-700"
             [routerLink]="child.path">
              <mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon>
              <span class="ml-3 transition-opacity duration-300"
                  [ngClass]="isMenuExpanded ? 'opacity-100' : 'opacity-0 hidden'">
              {{ child.label }}
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
