<div class="bg-white px-[5rem]">
    <div class="p-8">
        <nz-table
                [nzData]="dataLists"
                #dataTable
            >
                <thead>
                    <tr>
                        <th>Type Code</th>
                        <th>Type Name</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable.data">
                        <td>{{data.typeCode}}</td>
                        <td>{{data.typeName}}</td>
                        <td>{{data.createdAt}}</td>
                    </tr>
                </tbody>
        </nz-table>
    </div>
</div>